.Home {
background-color: #FFF0F0;
}

.Home-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 90vh;
}

.Home-content-header {
display: flex;
flex-direction: row;
align-items: center;
}